<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            <p style="float:right">
                <span>Hola {{usuario}}!</span>
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesion <i
                        class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-7" style="margin-top:-9px;">
            <h2>Listado de novedades</h2>
        </div>
        <div class="col-5 text-right">
            <a href="/admin/novedades/agregar" class="btn btn-success"><i class="fas fa-plus"></i>Nuevo</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col" class="col-10 text-right">Titulo</th>
                        <th scope="col" class="col-1 text-right">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td class="text-right">
                            <a href="/admin/novedades/modificar/{{id}}" class="btn btn-secondary"><i class="fas fa-pencil-alt">Editar</i></a>
                            <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-secondary"><i class="fas fa-trash"></i>Borrar</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>